<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<div class="container content" style="max-width: 970px">

  <header class="masthead">
    <h3 class="masthead-title">
      <a href="/" title="Home">{{ site.title }}</a>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <small><a href="/subscribe">Subscribe</a></small>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <small><a href="http://feeds.feedburner.com/TheWatchAndCodeBlog">RSS</a></small>

    </h3>
  </header>

  <main>
    <h1 class="post-title">{{ page.title }}</h1>

    <br>
    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='{{ page.youtubeEmbed }}' frameborder='0' allowfullscreen></iframe></div>
    <br>
    <br>

    {{ content }}
    <br>
    {% include comments.html %}
  </main>

  <footer class="footer">
    <br>
    <br>
    <small>
      &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> Watch and Code.
    </small>
  </footer>

</div>

{% include analytics.html %}

{% include olark.html %}

</body>
</html>
